name: Mirror to GitLab
on:
  push:
    branches: ["**"]
    tags: ["**"]
jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Add GitLab remote
        run: git remote add gitlab https://oauth2:${GITLAB_TOKEN}@git.dare.megware.com/compilers/flang-dumper.git
      - name: Push mirror
        run: git push --mirror gitlab
    env:
      GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}