name: build

on:
  pull_request:
    branches: [main]

permissions:
  checks: write

env:
  FLANG_VERSION: 20

jobs:
  build-dumper:
    name: Build Dumper
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # needed if you plan to create/move tags in the runner
          persist-credentials: true


      - name: Install dependencies
        run: sudo ./scripts/install-dependencies.sh

      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          make -j 4
          
